body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #edfede;
}

#wrapper {
    display: grid;
    grid-template-columns: (1fr);
    grid-template-areas: 
      'header'
      'main'
      'footer';
}

#header {
    grid-area: header;
    background-color: #c2fc8f;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}

#header h1 {
    font-size: 200%;
}

#main {
    grid-area: main;
    height: 80vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
}

#main table {
    text-align: left;
    border: 0.3vh solid black;
    border-collapse: collapse;
    width: 50vw;
    background-color: white;
}

#main table th {
    background-color: #c0c0c0;
    text-align: center;
    border: 0.3vh solid black;
}

#main table td {
    
    padding: 0.5vw;
    border: 0.3vh solid black;
}

#main table td:nth-child(n+3) {
    text-align: right;
}

#main table tr:hover {
    background-color: #dadada;
}

#footer {
    grid-area: footer;
    background-color: #c2fc8f;
    text-align: center;
    height: 10vh;
    font-size: 2vh;
    vertical-align: middle;
}

#footer #author {
    text-align: right;
    font-weight: 700;
}